In [1]:
import pandas as pd

In [ ]:
# Try different encodings commonly used for Korean text
df = pd.read_csv('TradingHistory.csv', encoding='euc-kr')

In [5]:
# astype 없이 문자열 처리
df['평가손익_clean'] = df['평가손익'].str.replace(',', '').str.replace(' ', '').str.strip()

# 숫자로 변환
df['평가손익_clean'] = pd.to_numeric(df['평가손익_clean'], errors='coerce').fillna(0)

# 그룹별 합계 및 정렬
result = df.groupby(['종목명'])['평가손익_clean'].sum().sort_values(ascending=False)

# 세자리마다 쉼표 표시
for stock, value in result.items():
    print(f"{stock}: {value:,.0f}")

 SK하이닉스: 575,967
 삼성전자: 426,945
 링크솔루션: 330,332
 현대무벡스: 279,825
 한미반도체: 192,608
 삼현: 117,904
 나라스페이스테크놀로지: 95,179
 제주반도체: 84,780
 삼성전기: 70,938
 클로봇: 70,206
 한화시스템: 57,655
 현대차: 53,719
 ISC: 50,254
 디아이티: 45,775
 한화오션: 45,110
 두산에너빌리티: 41,001
 원익홀딩스: 34,872
 에스앤에스텍: 34,437
 삼양컴텍: 22,132
 엠씨넥스: 19,316
 한국항공우주: 18,160
 HPSP: 17,090
 코스맥스: 14,877
 셀트리온: 12,512
 우진: 12,038
 심텍: 11,144
 오픈엣지테크놀로지: 10,494
 엘앤씨바이오: 9,712
 HD현대: 6,736
 에이비엘바이오: 6,496
 모트렉스: 4,313

In [11]:
df[df['종목명'].str.strip() =='코스맥스']

,차수,날짜,종목명,수량,매입단가,매매구분,매도단가,평가손익,수익률,IDX,코드,평가손익_clean
406,1차,2026.01.05,코스맥스,1,"172,500",매수,,,,471,192820,0.0
407,1차,2026.01.14,코스맥스,1,"172,500",매도,"178,000","5,104",2.96,472,192820,5104.0
420,1차,2026.01.14,코스맥스,2,"176,500",매수,,,,485,192820,0.0
421,1차,2026.01.14,코스맥스,2,"176,500",매도,"181,800","9,773",2.77,486,192820,9773.0